:javascript
  // var b = "hello everyone!"
  // var a = 123456
  // c = {one: 1, two: 2}
  // var d = function(){
  //   return 'hello'
  // }
  // arr = [1,2,3,4,5]

  // for(i in arr){
  //   console.log(b + " - " + arr[i]);
  // }



%h2 original code
%pre{class: 'original'}

%h2 converted code
%pre{class: 'converted'}